header, nav, section, footer{
    background-color: #ddd;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5px;
    box-sizing: border-box;
    -o-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    font: 100% Arial;
    color: #c0c0c0;
}

header {
    height: 50px;
}

section{
    height: 100px;
}

nav, footer {
    height: 150px;
}

@media screen and (min-width: 400px){
    header, nav, section, footer{
        background-color: red;
    }
}

@media screen and (max-width: 300px){
    header, nav, section, footer{
        background-color: darkgreen;
    }
}